:root {
  --background: #ffffff;
  --first-background: hsl(from darkseagreen h s l);
  --alt-background: hsl(from var(--first-background) h s l / 0.2);
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16pt;
}

header {
  font-weight: 400;
}

h1 {
  font-weight: 500;
  font-size: 32pt;
}

h2 {
  font-weight: 500;
  font-size: 24pt;
}

h3 {
  font-weight: 500;
  font-size: 20pt;
}

article {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100dvw;
  p {
    padding: 1rem 0 0;
  }
  h3 ~ p {
    padding: 0 0 1rem;
  }
  img {
    max-width: 40dvw;
  }
}

main img {
  padding: 0;
  min-width: 50dvw;
}

.centred {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.vertical {
  flex-direction: column;
  img {
    max-width: 100dvw;
  }
  padding-bottom: 0;
}

main > article > div {
  min-width: 50dvw;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

article:nth-child(odd) {
  background-color: var(--alt-background);
}

article:nth-child(even) {
  background: var(--background);
}

article:nth-child(3) {
  flex-direction: row-reverse;
}

article.left {
  flex-direction: row;
}

article.right {
  flex-direction: row-reverse;
}

/* article img {
  max-width: 40dvw;
} */

@media (max-width: 1100px) {
  article {
    flex-wrap: wrap;
    padding: 0 0 2rem;
    img {
      max-width: 100dvw;
    }
    p {
      padding: 1rem 1rem 0;
      align-self: center;
    }
    h1,
    h2,
    h3 {
      padding: 0 1rem;
    }
    h3 ~ p {
      padding: 0 1rem 1rem;
    }
  }
}

@media (min-width: 1101px) {
  img.padded {
    padding: 3rem 6rem;
  }

  div.pad-mid {
    padding: 1rem 6rem;
    align-items: center;
  }

  div.pad-right {
    padding: 1rem 11rem 1rem 1rem;
    text-align: start;
    align-items: flex-start;
  }

  div.pad-left {
    padding: 1rem 1rem 1rem 11rem;
    text-align: end;
    align-items: flex-end;
  }

  div.two-col {
    display: flex;
    flex: 1 0 auto;

    & * {
      min-width: 50dvw;
    }
  }
}

footer > article {
  padding: 1rem 0rem;
  & > div {
    min-width: 100dvw;
  }
}

footer > article:first-child {
  background: var(--first-background);
}

.legal {
  display: flex;
  justify-content: space-around;
  font-size: small;
  text-align: center;
}

#contact,
#services,
#about {
  display: none;
}
